@page
@model RazorPagesContacts.Pages.VehiclesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head>
        <meta charset="utf-8">
        <title>Vehicles List</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <table class="table" align="center">
                <thead>
                    <tr>
                        <th>VehicleId</th>
                        <th>RegistrationNumber</th>
                        <th>PrivateCode</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in Model.Vehicles)
                    {
                        <tr>
                            <td>@vehicle.VehicleId</td>
                            <td>@vehicle.RegistrationNumber</td>
                            <td>@vehicle.PrivateCode</td>
                            <td>@vehicle.TypeOfVehicle</td>
                            <td>@vehicle.DateStamp</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit">
                                Edit
                            </button></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editLabel">Edit</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="registration">Registration Number:</label>
                                    <input type="text" class="form-control" id="registration" name="registration" asp-for="Vehicles.RegistrationNumber">
                                </div>
                                <div class="form-group">
                                    <label for="private">Private Code:</label>
                                    <input type="text" class="form-control" id="private" name="private" asp-for="Vehicles.PrivateCode">
                                </div>
                                <div class="form-group">
                                    <label for="typeov">Type of Vehicle:</label>
                                    <input type="text" class="form-control" id="typeov" name="typeov" asp-for="Vehicles.TypeOfVehicle">
                                </div>
                                <div class="form-group">
                                    <label for="dates">Date Stamp:</label>
                                    <input type="date" class="form-control" id="dates" name="dates" asp-for="Vehicles.DateStamp">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>
    </body>
</html>